@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  /* position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; */
}

/* #app .container-view {


} */

